html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: PingFangSC;
  height: 100vh;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5681px;
  background-color: #ffffff;
}

#navigation {
  width: 100%;
  height: 83px;
  position: fixed;
  z-index: 9;
}

#navigation-wrap {
  width: 100%;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: 90%;
}

#nav-links > li {
  display: flex;
  flex-basis: 14%;
  flex-grow: 1;
}

#nav-links a {
  display: flex;
  justify-self: center;
  align-items: center;
}

#nav-links span {
  font-family: PingFangSC;
  font-size: 16px;
  color: #ffffff;
}

#nav-addition {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 10%;
  flex-grow: 1;
}

#nav-addition a {
  width: 24px;
  height: 24px;
}

#nav-addition img {
  width: 24px;
  height: 24px;
}

#wechat {
}

#linkedin {
}

#main-page-container {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 25px;
}

#main-page {
  width: 105px;
  height: 45px;
}

.contact {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 9;
  width: 170px;
  height: 220px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  top: 30%;
  right: 71px;
  padding-left: 19px;
  padding-top: 13px;
}

.contact > div:nth-child(1) {
  display: flex;
  margin-bottom: 7px;
}

.contact > div:nth-child(1) > span {
  width: 133px;
  height: 28px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1f;
}

.contact > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
}

.contact-country {
  width: 133px;
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.9;
  color: #4272d7;
}

.contact-phone-number {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.9;
  color: #1d1d1f;
}

.message {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 9;
  width: 257px;
  height: 262px;
  top: 30%;
  right: 71px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding-left: 14px;
  padding-top: 13px;
}

.message > div:nth-child(1) {
  margin-bottom: 10px;
}

.message > div:nth-child(1) > span {
  width: 133px;
  height: 28px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1f;
}

.message > form {
  box-sizing: border-box;
  width: 229px;
  display: flex;
  flex-direction: column;
}

.message textarea {
  box-sizing: border-box;
  width: 229px;
  height: 69px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.message input {
  box-sizing: border-box;
  width: 229px;
  height: 25px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.message button {
  box-sizing: border-box;
  width: 229px;
  height: 25px;
  border: solid 1px #4272d7;
  background-color: #ffffff;
  font-family: PingFangSC;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #4272d7;
  margin-top: 5px;
}

.message-board {
  width: 50px;
  height: 147px;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 0px;
  top: 30%;
  right: 15px;
  background-image: radial-gradient(
    circle at 23% 29%,
    #0a1b2b,
    #0b2142 19%,
    #0c2552 91%,
    #0d2d6f 131%,
    #0e3693 144%
  );
}

.message-board-item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-basis: 33%;
  margin: 1px;
}

.message-board-item:nth-child(2) {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.message-board-item a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-board-item img {
  width: 24px;
  height: 24px;
}

.top-board {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
    110deg,
    #0a1b2b 1%,
    #0b2142 53%,
    #0c2552 74%,
    #0d2d6f 90%,
    #0e3693 98%
  );
}

.top-board-content {
  display: flex;
  flex-direction: column;
  margin-top: 164px;
  margin-left: 76px;
}

.top-board-items {
  width: 487px;
  font-family: PingFangSC;
  margin-bottom: 36px;
}

.top-board-items:nth-child(1) {
  height: 80px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}

.top-board-items:nth-child(2) {
  height: 62px;
  font-size: 16px;
  color: #ffffff;
}

.top-board-items:nth-child(3) {
  width: 79px;
  height: 21px;
}

.top-board-items:nth-child(3) > a {
  display: flex;
  flex-direction: row;
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.top-board-items:nth-child(3) > a > div {
  margin-right: 5px;
}

.main-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.main-content-1-items:nth-child(1) {
  width: 699px;
  height: 28px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  margin-top: 66px;
  margin-bottom: 32px;
}

.main-content-1-items:nth-child(2) {
  width: 79px;
  height: 21px;
}

.main-content-1-items:nth-child(2) > a {
  display: flex;
  flex-direction: row;
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #061520;
  text-decoration: none;
}

.main-content-1-items:nth-child(2) > a > div {
  margin-right: 5px;
}

.line {
  display: flex;
  align-self: center;
  width: 831px;
  border-top: #000000 solid 1px;
}

.main-content-2 {
  height: 126px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 78px;
  margin-bottom: 75px;
}

.main-content-2-items {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 0.8px #000000;
}

.main-content-2-items:nth-child(1) {
  border-left: none;
}

.main-content-2-items > div:nth-child(1) {
  width: 175px;
  height: 63px;
  font-family: TimesNewRomanPS-MT;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #4272d7;
}

.main-content-2-items > div:nth-child(2) {
  width: 176px;
  height: 36px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.about-us-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-image > img {
  width: 830px;
  height: 313px;
}

.about-us {
  width: 570px;
  height: 255px;
  margin-top: -50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  box-shadow: 0 2px 4px 0;
  background-color: #ffffff;
  padding-bottom: 32px;
}

.about-us > div:nth-child(1) {
  width: 558px;
  height: 43px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  margin-top: 34px;
}

.about-us > div:nth-child(1) > span {
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.about-us > div:nth-child(2) {
  width: 516px;
  height: 114px;
  margin-top: 3px;
  margin-bottom: 8px;
  font-family: PingFangSC;
  font-size: 12px;
  color: #1d1d1f;
}

.about-us > div:nth-child(3) {
  width: 100%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #061520;
}

.about-us > div:nth-child(3) > a {
  width: 79px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #061520;
}

.about-us > div:nth-child(3) > a > div {
  margin-right: 5px;
}

.search-section {
  width: 100%;
  height: 85px;
  margin-top: 241px;
  position: fixed;
  bottom: 0%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-image: linear-gradient(
    95deg,
    #0a1b2b 1%,
    #0b2142 55%,
    #0c2552 77%,
    #0d2d6f 91%,
    #0e3693 102%
  );
}

.search-section-item-1 {
  height: 25px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.close-search-section {
  margin-right: 104px;
  background-color: transparent;
}

.close-search-section > img {
  width: 24px;
  height: 24px;
}

.search-section-item-1 > form {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-section-item-1 input {
  width: 213px;
  height: 25px;
  font-size: 12px;
  margin-right: 7px;
  background-color: #ffffff;
}

.search-section-item-1 button {
  width: 24px;
  height: 24px;
  padding: 0px;
  border: none;
}

.search-section-item-1 img {
  width: 25px;
  height: 25px;
}

.search-section-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 12px;
}

.search-section-item-2 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-section-item-2 > div > div:nth-child(1) {
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PingFangSC;
  margin-right: 80px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.jobs {
  height: 23px;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
}

.jobs > div {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs span {
  height: 23px;
  font-family: PingFangSC;
  font-size: 12px;
  color: #ffffff;
}

.solution-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 204px;
}

.solution-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.solution-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 88px;
}

.turn-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.turn-page > a {
  width: 30px;
}

.turn-page img {
  width: 30px;
  height: 30px;
}

.prev {
  margin-left: 96px;
  margin-right: 35px;
}

.next {
  margin-left: 35px;
  margin-right: 96px;
}

.solution-section > div:nth-child(2) {
  background-image: url("../images/background/背景-灵活用工.png");
}

.solution-section > div:nth-child(3) {
  background-image: url("../images/background/背景-高端人才寻访.png");
}

.solution-section > div:nth-child(4) {
  background-image: url("../images/background/背景招聘流程外包.png");
}

.solution-section-image {
  width: 200px;
  height: 150px;
}

.solution-section > div:nth-child(3) {
  margin-left: 50px;
  margin-right: 50px;
}

.solution-section-image a {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: #ffffff;
}

.solution-section-image-bottom {
  width: 200px;
  height: 33px;
  opacity: 0.88;
  background-color: #061520;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.solution-section-image-bottom > img {
  margin-left: 16px;
  margin-right: 16px;
}

.solution-section-image-bottom span {
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 500;
}

.achievement-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.achievement-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.achievement-section {
  display: flex;
  flex-direction: column;
  margin-top: 61px;
  margin-left: 161px;
  margin-right: 161px;
  margin-bottom: 72px;
  align-self: center;
}

.achievement-row {
  display: flex;
  flex-direction: row;
}

.achievement-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
  margin-left: 30px;
  margin-right: 30px;
}

.achievement-item > img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.achievement-item-content {
  width: 186px;
  height: 34px;
}

.achievement-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.achievement-subtitle > span {
  width: 186px;
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}

.achievement-subcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.achievement-subcontent > span {
  width: 186px;
  font-family: PingFangSC;
  font-size: 10px;
  color: #1d1d1f;
}

.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

.team-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.team-section {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 45px;
  margin-bottom: 62px;
}

.team-lines {
  width: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  /* background-color: rgba(31, 64, 230, 0.2); */
}

.team-point {
  width: 5px;
  height: 5px;
  background-color: #1f40e6;
}

.team-line-item-1 {
  width: 1px;
  height: 150px;
  background-color: #1f40e6;
}

.team-line-item-2 {
  width: 1px;
  height: 150px;
  background-color: #1f40e6;
}

.team-line-item-3 {
  width: 1px;
  height: 150px;
  background-color: #1f40e6;
}

.team-content {
  width: 217px;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.team-item {
  box-sizing: border-box;
  width: 217px;
  height: 135px;
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #e6e6e5;
}

.team-content > div.team-item:nth-child(1) {
  margin-top: 0px;
}

.team-subtitle {
  width: 217px;
  height: 22px;
  margin-bottom: 7px;
  font-family: PingFangSC;
  font-size: 14px;
  color: #1d1d1f;
}

.team-subcontent {
  width: 217px;
  font-family: PingFangSC;
  font-size: 12px;
  color: #1d1d1f;
}

.team-image {
  width: 443px;
  height: 324px;
  margin-top: 123px;
  margin-left: 54px;
}

.team-image > img {
  width: 443px;
  height: 324px;
}

.advantage-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}

.advantage-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.advantage-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 36px;
}

.advantage-row {
  display: flex;
  flex-direction: row;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 150px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-left: 27px;
  margin-right: 27px;
  padding: 20px;
  padding-top: 30px;
}

.advantage-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantage-subtitle > div:nth-child(1) {
  width: 25px;
  height: 25px;
}

.advantage-subtitle img {
  width: 25px;
  height: 25px;
}

.advantage-subtitle > div:nth-child(2) {
  border-bottom: solid 1px #1f40e6;
  margin-left: 10px;
}

.advantage-subtitle span {
  width: 166px;
  height: 34px;
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 500;
  color: #1d1d1f;
}

.advantage-subcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.advantage-subcontent > span {
  font-family: PingFangSC;
  font-size: 12px;
  color: #1d1d1f;
}

.database-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.database-title > span {
  width: 487px;
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.38px;
  text-align: center;
  color: #1d1d1f;
}

.database-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 23px;
  margin-bottom: 25px;
}

.database-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.database-item > div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.database-section > div:nth-child(1) > div {
  margin-top: 60px;
}

.database-section > div:nth-child(1) > img {
  width: 357px;
  height: 246px;
}

.database-section > div:nth-child(2) > div {
  margin-top: 18px;
}

.database-section > div:nth-child(2) > img {
  width: 425px;
  height: 283px;
}

.database-item > div > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 14px;
  text-align: center;
  color: #1d1d1f;
}

.client-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}

.client-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.client-section {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 70px;
}

td {
  width: 140px;
  height: 100px;
  text-align: center;
}

.evaluation-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
}

.evaluation-title > span {
  height: 24px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 2px;
  border-bottom: 2px solid #1d1d1f;
}

.evaluation-section {
  width: 830px;
  height: 313px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 53px;
  background-image: url("../images/background/客户好评背景图.png");
}

.evaluation-prev {
  width: 130px;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.evaluation-prev > a {
  width: 30px;
  height: 30px;
  margin: auto;
}

.evaluation-next {
  width: 130px;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.evaluation-next > a {
  width: 30px;
  height: 30px;
  margin: auto;
}

.evaluation-content {
  width: 570px;
  height: 230px;
  opacity: 0.92;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.evaluation-content > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 39px;
}

.evaluation-content > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evaluation-content > div:nth-child(2) > div > span {
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1f;
}

.evaluation-content > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

.evaluation-content > div:nth-child(3) > span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  color: #1d1d1f;
}

.compliment-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 76px;
}

.compliment-item {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  box-shadow: 4px 10px 9px 0 rgba(0, 0, 0, 0.3), -9px -10px #f6f6f7;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.compliment-item > div:nth-child(1) {
  width: 110px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compliment-item span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #505050;
}

.footer {
  width: 100%;
  display: flex;
  align-self: flex-end;
  background-image: url("../images/background/footer背景.png");
  background-size: 100%;
}

.footer-section {
  margin: auto;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  height: 43px;
  margin-bottom: 6px;
}

.footer-logo > img {
  width: 100px;
  height: 43px;
}

.footer-line {
  display: flex;
  align-self: center;
  width: 831px;
  border: solid 1px #ffffff;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 200px;
}

.footer-follow {
  display: flex;
  flex-direction: column;
  margin-right: 156px;
}

.footer-follow-title {
  margin-bottom: 24px;
}

.footer-follow-title > span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.footer-follow-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 27px;
}

.footer-follow-item {
  margin-right: 28px;
}

.footer-solution {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-solution-title {
  margin-bottom: 24px;
}

.footer-solution-title > span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.footer-solution-content {
  display: flex;
  flex-direction: column;
}

.footer-solution-content span {
  font-family: PingFangSC;
  font-size: 10px;
  line-height: 2.4;
  color: #ffffff;
}

.footer-observe {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-observe-title {
  margin-bottom: 24px;
}

.footer-observe-title > span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.footer-observe-content {
  display: flex;
  flex-direction: column;
}

.footer-observe-content span {
  font-family: PingFangSC;
  font-size: 10px;
  line-height: 2.4;
  color: #ffffff;
}

.footer-news {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-news-title {
  margin-bottom: 24px;
}

.footer-news-title > span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.footer-news-content {
  display: flex;
  flex-direction: column;
}

.footer-news-content span {
  font-family: PingFangSC;
  font-size: 10px;
  line-height: 2.4;
  color: #ffffff;
}

.footer-about {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-about-title {
  margin-bottom: 24px;
}

.footer-about-title > span {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.footer-about-content {
  display: flex;
  flex-direction: column;
}

.footer-about-content span {
  font-family: PingFangSC;
  font-size: 10px;
  line-height: 2.4;
  color: #ffffff;
}

@media only screen and (min-width: 1300px) {
  body {
    margin: auto;
    font-family: PingFangSC;
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6000px;
    background-color: #ffffff;
  }

  .navigation {
    width: 100%;
    height: 83px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 9;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: 74px;
  }

  .nav-links a {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 25px;
    text-decoration: none;
  }

  .nav-links span {
    font-family: PingFangSC;
    font-size: 16px;
    color: #ffffff;
  }

  .nav-addition {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  .nav-addition a {
    width: 24px;
    height: 24px;
  }

  .nav-addition img {
    width: 24px;
    height: 24px;
  }

  #wechat {
    margin-right: 25px;
  }

  #linkedin {
    margin-right: 106px;
  }

  .main-page-container {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-right: 62px;
  }

  #main-page {
    width: 135px;
    height: 58px;
  }

  .message-board {
    width: 50px;
    height: 147px;
    position: fixed;
    z-index: 9;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    top: 40%;
    right: 17px;
    background-image: radial-gradient(
      circle at 23% 29%,
      #0a1b2b,
      #0b2142 19%,
      #0c2552 91%,
      #0d2d6f 131%,
      #0e3693 144%
    );
  }

  .message-board-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    margin: 1px;
  }

  .message-board-item:nth-child(2) {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  .message-board-item a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message-board-item img {
    width: 24px;
    height: 24px;
  }

  .top-board {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(
      110deg,
      #0a1b2b 1%,
      #0b2142 53%,
      #0c2552 74%,
      #0d2d6f 90%,
      #0e3693 98%
    );
    /* background-image: url("../images/background/首页背景图.png");
    background-size: 100%; */
  }

  .top-board-content {
    display: flex;
    flex-direction: column;
    margin-top: 164px;
    margin-left: 76px;
  }

  .top-board-items {
    width: 487px;
    font-family: PingFangSC;
    margin-bottom: 36px;
  }

  .top-board-items:nth-child(1) {
    height: 80px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
  }

  .top-board-items:nth-child(2) {
    height: 62px;
    font-size: 16px;
    color: #ffffff;
  }

  .top-board-items:nth-child(3) {
    width: 79px;
    height: 21px;
  }

  .top-board-items:nth-child(3) > a {
    display: flex;
    flex-direction: row;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
  }

  .top-board-items:nth-child(3) > a > div {
    margin-right: 5px;
  }

  .main-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
  }

  .main-content-1-items:nth-child(1) {
    width: 699px;
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    margin-top: 66px;
    margin-bottom: 32px;
  }

  .main-content-1-items:nth-child(2) {
    width: 79px;
    height: 21px;
  }

  .main-content-1-items:nth-child(2) > a {
    display: flex;
    flex-direction: row;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #061520;
    text-decoration: none;
  }

  .main-content-1-items:nth-child(2) > a > div {
    margin-right: 5px;
  }

  .line {
    display: flex;
    align-self: center;
    width: 1227px;
    border-top: #000000 solid 1px;
  }

  .main-content-2 {
    height: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 60px;
    margin-bottom: 56px;
  }

  .main-content-2-items {
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 0.8px #000000;
  }

  .main-content-2-items:nth-child(1) {
    border-left: none;
  }

  .main-content-2-items > div:nth-child(1) {
    width: 175px;
    height: 63px;
    font-family: TimesNewRomanPS-MT;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #4272d7;
  }

  .main-content-2-items > div:nth-child(2) {
    width: 176px;
    height: 36px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    color: #000000;
  }

  .about-us-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-image > img {
    width: 1227px;
    height: 400px;
  }

  .about-us {
    width: 1045px;
    height: 255px;
    margin-top: -100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    box-shadow: 0 2px 4px 0;
    background-color: #ffffff;
    padding-bottom: 34px;
  }

  .about-us > div:nth-child(1) {
    width: 558px;
    height: 43px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    margin-top: 34px;
  }

  .about-us > div:nth-child(1) > span {
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .about-us > div:nth-child(2) {
    width: 853px;
    height: 96px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-family: PingFangSC;
    font-size: 14px;
    color: #1d1d1f;
  }

  .about-us > div:nth-child(3) {
    width: 100%;
    height: 21px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #061520;
  }

  .about-us > div:nth-child(3) > a {
    width: 79px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #061520;
  }

  .about-us > div:nth-child(3) > a > div {
    margin-right: 5px;
  }

  .search-section {
    width: 100%;
    height: 85px;
    margin-top: 241px;
    position: fixed;
    bottom: 0%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: linear-gradient(
      95deg,
      #0a1b2b 1%,
      #0b2142 55%,
      #0c2552 77%,
      #0d2d6f 91%,
      #0e3693 102%
    );
  }

  .search-section-item-1 {
    height: 25px;
    margin-top: 16px;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .close-search-section {
    margin-right: 133px;
    background-color: transparent;
  }

  .close-search-section > img {
    width: 24px;
    height: 24px;
  }

  .search-section-item-1 > form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .search-section-item-1 input {
    width: 213px;
    height: 25px;
    font-size: 12px;
    margin-right: 7px;
    background-color: #ffffff;
  }

  .search-section-item-1 button {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;
  }

  .search-section-item-1 img {
    width: 25px;
    height: 25px;
  }

  .search-section-item-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 12px;
  }

  .search-section-item-2 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search-section-item-2 > div > div:nth-child(1) {
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC;
    margin-right: 80px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
  }

  .jobs {
    height: 23px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
  }

  .jobs > div {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jobs span {
    height: 23px;
    font-family: PingFangSC;
    font-size: 12px;
    color: #ffffff;
  }

  .solution-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .solution-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .solution-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 88px;
  }

  .turn-page {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .turn-page > a {
    width: 30px;
  }

  .turn-page img {
    width: 30px;
    height: 30px;
  }

  .prev {
    margin-left: 96px;
    margin-right: 35px;
  }

  .next {
    margin-left: 35px;
    margin-right: 96px;
  }

  .solution-section > div:nth-child(2) {
    background-image: url("../images/background/背景-灵活用工.png");
    background-size: 100%;
  }

  .solution-section > div:nth-child(3) {
    background-image: url("../images/background/背景-高端人才寻访.png");
    background-size: 100%;
  }

  .solution-section > div:nth-child(4) {
    background-image: url("../images/background/背景招聘流程外包.png");
    background-size: 100%;
  }

  .solution-section-image {
    width: 344px;
    height: 258px;
  }

  .solution-section > div:nth-child(3) {
    margin-left: 50px;
    margin-right: 50px;
  }

  .solution-section-image a {
    width: 344px;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    color: #ffffff;
  }

  .solution-section-image-bottom {
    width: 344px;
    height: 57px;
    opacity: 0.88;
    background-color: #061520;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .solution-section-image-bottom > img {
    width: 35px;
    height: 35px;
    margin-left: 28px;
    margin-right: 26px;
  }

  .solution-section-image-bottom span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 500;
  }

  .achievement-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
  }

  .achievement-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .achievement-section {
    display: flex;
    flex-direction: column;
    margin-top: 61px;
    margin-left: 161px;
    margin-right: 161px;
    margin-bottom: 72px;
    align-self: center;
  }

  .achievement-row {
    display: flex;
    flex-direction: row;
  }

  .achievement-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 33px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .achievement-item > img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }

  .achievement-item-content {
    width: 250px;
    height: 34px;
  }

  .achievement-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .achievement-subtitle > span {
    width: 250px;
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1f;
  }

  .achievement-subcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .achievement-subcontent > span {
    width: 250px;
    font-family: PingFangSC;
    font-size: 14px;
    color: #1d1d1f;
  }

  .team-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
  }

  .team-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .team-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 45px;
    margin-bottom: 62px;
  }

  .team-lines {
    width: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(31, 64, 230, 0.2); */
  }

  .team-point {
    width: 5px;
    height: 5px;
    background-color: #1f40e6;
  }

  .team-line-item-1 {
    width: 1px;
    height: 166px;
    background-color: #1f40e6;
  }

  .team-line-item-2 {
    width: 1px;
    height: 166px;
    background-color: #1f40e6;
  }

  .team-line-item-3 {
    width: 1px;
    height: 166px;
    background-color: #1f40e6;
  }

  .team-content {
    width: 217px;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-right: 140px;
  }

  .team-item {
    box-sizing: border-box;
    width: 318px;
    height: 150px;
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #e6e6e5;
  }

  .team-content > div.team-item:nth-child(1) {
    margin-top: 0px;
  }

  .team-subtitle {
    width: 318px;
    height: 22px;
    margin-bottom: 7px;
    font-family: PingFangSC;
    font-size: 16px;
    color: #1d1d1f;
  }

  .team-subcontent {
    width: 318px;
    font-family: PingFangSC;
    font-size: 14px;
    color: #1d1d1f;
  }

  .team-image {
    width: 717px;
    height: 525px;
    margin-top: 55px;
    margin-left: 54px;
  }

  .team-image > img {
    width: 717px;
    height: 525px;
  }

  .advantage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
  }

  .advantage-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .advantage-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 36px;
  }

  .advantage-row {
    display: flex;
    flex-direction: row;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 390px;
    height: 180px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border: solid 1px #e6e6e5;
    background-color: #ffffff;
    margin-bottom: 22px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    padding-top: 30px;
  }

  .advantage-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .advantage-subtitle > div:nth-child(1) {
    width: 35px;
    height: 35px;
  }

  .advantage-subtitle img {
    width: 35px;
    height: 35px;
  }

  .advantage-subtitle > div:nth-child(2) {
    border-bottom: solid 1px #1f40e6;
    margin-left: 10px;
  }

  .advantage-subtitle span {
    width: 166px;
    height: 34px;
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1f;
  }

  .advantage-subcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .advantage-subcontent > span {
    font-family: PingFangSC;
    font-size: 14px;
    color: #1d1d1f;
  }

  .database-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 54px;
  }

  .database-title > span {
    width: 487px;
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.38px;
    text-align: center;
    color: #1d1d1f;
  }

  .database-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .database-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 96px;
    margin-right: 96px;
  }

  .database-item > div {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .database-section > div:nth-child(1) > div {
    margin-top: 52px;
  }

  .database-section > div:nth-child(1) > img {
    width: 357px;
    height: 246px;
  }

  .database-section > div:nth-child(2) > div {
    margin-top: 18px;
  }

  .database-section > div:nth-child(2) > img {
    width: 425px;
    height: 283px;
  }

  .database-item > div > span {
    height: 24px;
    font-family: PingFangSC;
    font-size: 16px;
    text-align: center;
    color: #1d1d1f;
  }

  .client-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
  }

  .client-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .client-section {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 70px;
  }

  td {
    width: 250px;
    height: 100px;
    text-align: center;
  }

  .evaluation-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
  }

  .evaluation-title > span {
    height: 28px;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #1d1d1f;
    padding-bottom: 2px;
    border-bottom: 2px solid #1d1d1f;
  }

  .evaluation-section {
    width: 1227px;
    height: 315px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 53px;
    background-image: url("../images/background/客户好评背景图.png");
    background-size: 100%;
  }

  .evaluation-prev {
    width: 130px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .evaluation-prev > a {
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .evaluation-next {
    width: 130px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .evaluation-next > a {
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .evaluation-content {
    width: 820px;
    height: 230px;
    opacity: 0.92;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }

  .evaluation-content > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 39px;
  }

  .evaluation-content > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .evaluation-content > div:nth-child(2) > div > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1f;
  }

  .evaluation-content > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
  }

  .evaluation-content > div:nth-child(3) > span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    color: #1d1d1f;
  }

  .compliment-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 76px;
  }

  .compliment-item {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 4px 10px 9px 0 rgba(0, 0, 0, 0.3), -9px -10px #f6f6f7;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
  }

  .compliment-item > div:nth-child(1) {
    width: 110px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .compliment-item span {
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #505050;
  }

  .footer {
    width: 100%;
    display: flex;
    align-self: flex-end;
    background-image: url("../images/background/footer背景.png");
    background-size: 100%;
  }

  .footer-section {
    margin: auto;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    height: 55px;
    margin-bottom: 6px;
  }

  .footer-logo > img {
    width: 128px;
    height: 55px;
  }

  .footer-line {
    display: flex;
    align-self: center;
    width: 1147px;
    border: solid 1px #ffffff;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 200px;
  }

  .footer-follow {
    display: flex;
    flex-direction: column;
    margin-right: 156px;
  }

  .footer-follow-title {
    margin-bottom: 24px;
  }

  .footer-follow-title > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .footer-follow-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;
  }

  .footer-follow-item {
    margin-right: 28px;
  }

  .footer-solution {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .footer-solution-title {
    margin-bottom: 24px;
  }

  .footer-solution-title > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .footer-solution-content {
    display: flex;
    flex-direction: column;
  }

  .footer-solution-content span {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 2.4;
    color: #ffffff;
  }

  .footer-observe {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .footer-observe-title {
    margin-bottom: 24px;
  }

  .footer-observe-title > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .footer-observe-content {
    display: flex;
    flex-direction: column;
  }

  .footer-observe-content span {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 2.4;
    color: #ffffff;
  }

  .footer-news {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .footer-news-title {
    margin-bottom: 24px;
  }

  .footer-news-title > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .footer-news-content {
    display: flex;
    flex-direction: column;
  }

  .footer-news-content span {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 2.4;
    color: #ffffff;
  }

  .footer-about {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .footer-about-title {
    margin-bottom: 24px;
  }

  .footer-about-title > span {
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .footer-about-content {
    display: flex;
    flex-direction: column;
  }

  .footer-about-content span {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 2.4;
    color: #ffffff;
  }
}
