html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: PingFangSC;
  height: 100vh;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  background-color: #ffffff;
}

#navigation {
  width: 100%;
  height: 83px;
  position: fixed;
  z-index: 9;
}

#navigation-wrap {
  width: 100%;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
}

#nav-links > li {
  position: relative;
  margin-right: 25px;
}

.nav-drop {
  position: absolute;
  width: 135px;
  background-color: #152b4c;
  top: 83px;
  left: 0px;
  display: none;
  flex-direction: column;
}

.nav-drop > li {
  height: 30px;
  flex-direction: column;
  align-items: stretch;
}

.nav-drop-link > span:hover {
  color: #4272d7;
}

#nav-links > li > a {
  display: flex;
  align-items: center;
  align-self: stretch;
}

#nav-links > li > a:hover {
  border-bottom: #4272d7 solid 8px;
  border-top: transparent solid 8px;
}

#nav-addition {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

#nav-addition a {
  width: 24px;
  height: 24px;
}

#nav-addition img {
  width: 24px;
  height: 24px;
}

#wechat {
  margin-right: 25px;
}

#main-page-container {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 25px;
}

#main-page {
  width: 105px;
  height: 45px;
}

#nav-icon button {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

#nav-icon {
  display: none;
}

#nav-icon img {
  width: 20px;
  height: 20px;
}

#nav-icon-close {
  display: none;
}

#nav-banner {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

#side-navigation {
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  top: 0px;
  right: 0px;
  display: none;
  flex-direction: column;
  z-index: 9;
}

#side-main-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 83px;
}

#side-main-page-container > img {
  width: 105px;
  height: 45px;
}

#side-nav-icon-close {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

#side-nav-icon-close > img {
  width: 20px;
  height: 20px;
}

#side-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  flex-basis: 50%;
  justify-content: space-around;
}

#side-nav-addition {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: space-around;
  align-items: center;
}

#message-board {
  width: 50px;
  height: 147px;
  position: fixed;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 30%;
  right: 15px;
  background-image: radial-gradient(
    circle at 23% 29%,
    #0a1b2b,
    #0b2142 19%,
    #0c2552 91%,
    #0d2d6f 131%,
    #0e3693 144%
  );
}

.message-board-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.message-board-item:nth-child(2) {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.message-board-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.message-board-item img {
  width: 24px;
  height: 24px;
}

#contact {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  z-index: 8;
  width: 170px;
  height: 220px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  top: 30%;
  right: 71px;
}

#contact > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 65%;
}

#message {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: 8;
  width: 257px;
  height: 262px;
  top: 30%;
  right: 71px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

#message > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 80%;
}

#message textarea {
  height: 69px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
}

#message input {
  height: 25px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
}

#message button {
  height: 25px;
  border: solid 1px #4272d7;
  background-color: #ffffff;
  text-align: center;
  color: #4272d7;
}

#message button:active {
  background-color: #4272d7;
  color: #ffffff;
}

#search-section {
  width: 100%;
  height: 85px;
  position: fixed;
  bottom: 0px;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-image: linear-gradient(
    95deg,
    #0a1b2b 1%,
    #0b2142 55%,
    #0c2552 77%,
    #0d2d6f 91%,
    #0e3693 102%
  );
}

#search-section-item-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#close-search-section {
  background-color: transparent;
}

#close-search-section > img {
  width: 24px;
  height: 24px;
}

#search-section-item-1 > form {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-section-item-1 input {
  width: 213px;
  height: 25px;
  margin-right: 7px;
  background-color: #ffffff;
}

#search-section-item-1 button {
  width: 24px;
  height: 24px;
}

#search-section-item-1 img {
  width: 25px;
  height: 25px;
}

#search-section-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#jobs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 80%;
}

#top-board {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
    110deg,
    #0a1b2b 1%,
    #0b2142 53%,
    #0c2552 74%,
    #0d2d6f 90%,
    #0e3693 98%
  );
}

#top-board-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  margin-top: 83px;
  margin-bottom: 83px;
}

#main-content-1 {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main-content-1 p {
  text-align: center;
}

.line {
  width: 100%;
  border-top: #000000 solid 1px;
}

#main-content-2 {
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-content-2-items {
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-left: solid 0.8px #000000;
}

.main-content-2-items:nth-child(1) {
  border-left: none;
}

.main-content-2-items > p:nth-child(1) {
  font-family: TimesNewRomanPS-MT;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #4272d7;
}

.main-content-2-items > p:nth-child(2) {
  text-align: center;
}

#about-us-image {
  display: flex;
  justify-content: center;
}

#about-us-image > img {
  max-width: 100%;
  height: auto;
}

#about-us {
  max-width: 570px;
  height: 255px;
  margin: auto;
  margin-top: -50px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0;
  background-color: #ffffff;
}

#about-us > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-basis: 40%;
}

#about-us > div:nth-child(2) p {
  /* line-height: 1.5; */
}

#solution-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#solution-content {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: space-between;
  align-items: center;
}

.turn-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.turn-page > a {
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;
}

.turn-page img {
  width: 30px;
  height: 30px;
}

#solution-flexible-con {
  background-image: url("../images/background/背景-灵活用工.png");
}

#solution-talent-con {
  background-image: url("../images/background/背景-高端人才寻访.png");
}

#solution-vendor-con {
  background-image: url("../images/background/背景招聘流程外包.png");
}

.solution-section-image {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: stretch;
  margin: auto;
  margin-bottom: 30px;
}

.solution-section-image a {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.solution-section-image-bottom {
  opacity: 0.88;
  background-color: #061520;
  display: flex;
  flex-basis: 20%;
  flex-direction: row;
  align-items: center;
}

.solution-section-image-bottom > img {
  margin-left: 16px;
  margin-right: 16px;
}

.achievement-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 33px;
}

.achievement-item > img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.achievement-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#team-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#team-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#team-content::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  height: 75%;
  width: 1px;
  background-color: #1f40e6;
}

.team-item {
  position: relative;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px #e6e6e5;
  margin-bottom: 20px;
}

.team-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -17px;
  height: 5px;
  width: 5px;
  background-color: #1f40e6;
}

.team-item p {
  margin-bottom: 20px;
}

#team-image-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-image {
  max-width: 100%;
  height: auto;
}

#advantage-section {
  display: flex;
  justify-content: space-evenly;
}

.advantage-item-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  width: 240px;
  height: 150px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.advantage-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantage-subtitle > div:nth-child(1) {
  margin-right: 5px;
}

.advantage-subtitle img {
  width: 25px;
  height: 25px;
}

.advantage-subtitle p {
  border-bottom: solid 1px #1f40e6;
}

.database-item-con {
  display: flex;
  align-items: stretch;
}

.database-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.database-item > div {
  display: flex;
  align-items: center;
}

.database-item img {
  max-width: 100%;
  height: auto;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#evaluation-section {
  max-width: 830px;
  height: 313px;
  background-image: url("../images/background/客户好评背景图.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

#evaluation-section a {
  width: 30px;
  height: 30px;
  margin: auto;
}

#evaluation-content {
  width: 570px;
  height: 230px;
  opacity: 0.92;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#evaluation-content p {
  text-align: center;
}

#evaluation-content > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#evaluation-content > p:nth-child(3) {
  font-family: Roboto;
}

#compliment-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.compliment-item {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  box-shadow: 4px 10px 9px 0 rgba(0, 0, 0, 0.3), -9px -10px #f6f6f7;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

.compliment-item > div:nth-child(1) {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compliment-item p {
  text-align: center;
}

#footer {
  width: 100%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background/footer背景.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 38px;
}

#footer-logo {
  height: 43px;
  margin-bottom: 6px;
}

#footer-logo > img {
  width: 100px;
  height: 43px;
}

.footer-line {
  border: solid 1px #ffffff;
}

#footer-content {
  padding: 20px;
}

.footer-subtitle {
  margin-bottom: 20px;
}

#footer-follow {
  height: 300px;
  display: flex;
  flex-direction: column;
}

#footer-follow-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-follow-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer-item {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.footer-item-content {
  display: flex;
  flex-direction: column;
}

.footer-item-content > p {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  #nav-links {
    display: none;
  }

  #nav-addition {
    display: none;
  }

  #nav-icon {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

@media screen and (max-width: 768px) {
  #search-section {
    height: 45px;
  }

  #search-section-item-2 {
    display: none;
  }

  #main-content-2 {
    height: 400px;
  }

  .main-content-2-items:nth-child(3) {
    border-left: none;
  }

  #footer-logo {
    display: flex;
    justify-content: center;
  }

  #footer-follow {
    align-items: stretch;
  }

  #footer-follow > p:nth-child(1) {
    text-align: center;
  }

  .footer-follow-item {
    margin: 0px;
  }

  .footer-item {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
