<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="../css/about.css" />
    <script type="text/javascript" src="../js/about.js" defer></script>
    <title>关于我们</title>
  </head>
  <body>
    <div id="root">
      <div id="navigation">
        <div class="nav-links">
          <div class="main-page-container">
            <img id="main-page" src="../images/logo/subpage.svg" />
          </div>
          <a id="nav-links-home" href="#home">
            <span>首页</span>
          </a>
          <a id="nav-links-solution" href="#solution">
            <span>解决方案</span>
          </a>
          <a id="nav-links-jobs" href="#jobs">
            <span>热门职位</span>
          </a>
          <a id="nav-links-business" href="#business">
            <span>行业洞察</span>
          </a>
          <a id="nav-links-education" href="#education">
            <span>留学生在线教育平台</span>
          </a>
          <a id="nav-links-news" href="#news">
            <span>新闻动态</span>
          </a>
          <a id="nav-links-about-us" href="#about-us">
            <span>关于我们</span>
          </a>
        </div>
        <div class="nav-addition">
          <a id="wechat" href="#wechat">
            <img src="../images/icon/weixin.svg" />
          </a>
          <a id="linkedin" href="#linkedin">
            <img src="../images/icon/LINKEDIN.svg" />
          </a>
        </div>
      </div>

      <div class="footer">
        <div class="footer-section">
          <div class="footer-logo">
            <img src="../images/logo/mainpage.png" />
          </div>
          <div class="footer-line"></div>
          <div class="footer-content">
            <div class="footer-follow">
              <div class="footer-follow-title">
                <span>关注我们</span>
              </div>
              <div class="footer-follow-row">
                <div class="footer-follow-item">
                  <a href="#footer-wechat">
                    <img src="../images/icon/微信icon.svg" />
                  </a>
                </div>
                <div class="footer-follow-item">
                  <a href="#footer-weibo">
                    <img src="../images/icon/微博icon.svg" />
                  </a>
                </div>
              </div>
              <div class="footer-follow-row">
                <div class="footer-follow-item">
                  <a href="#footer-linkedin">
                    <img src="../images/icon/领英icon.svg" />
                  </a>
                </div>
                <div class="footer-follow-item">
                  <a href="#footer-facebook">
                    <img src="../images/icon/facebookicon.svg" />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-solution">
              <div class="footer-solution-title">
                <span>解决方案</span>
              </div>
              <div class="footer-solution-content">
                <div>
                  <span>灵活用工</span>
                </div>
                <div>
                  <span>高端人才寻访</span>
                </div>
                <div>
                  <span>招聘流程外包</span>
                </div>
                <div>
                  <span>海外校招</span>
                </div>
                <div>
                  <span>出海解决方案</span>
                </div>
                <div>
                  <span>管理咨询</span>
                </div>
              </div>
            </div>
            <div class="footer-observe">
              <div class="footer-observe-title">
                <span>行业洞察</span>
              </div>
              <div class="footer-observe-content">
                <div>
                  <span>调研报告</span>
                </div>
                <div>
                  <span>白皮书</span>
                </div>
                <div>
                  <span>IntelliPro观点</span>
                </div>
                <div>
                  <span>SVLC 美国硅谷领导力社区</span>
                </div>
              </div>
            </div>
            <div class="footer-news">
              <div class="footer-news-title">
                <span>新闻动态</span>
              </div>
              <div class="footer-news-content">
                <div>
                  <span>活动中心</span>
                </div>
                <div>
                  <span>行业资讯</span>
                </div>
              </div>
            </div>
            <div class="footer-about">
              <div class="footer-about-title">
                <span>关于我们</span>
              </div>
              <div class="footer-about-content">
                <div>
                  <span>公司简介</span>
                </div>
                <div>
                  <span>加入我们</span>
                </div>
                <div>
                  <span>联系我们</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
