<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>ipg</title>
  </head>
  <body>
    <div id="root">
      <div class="navigation">
        <div class="nav-links">
          <div class="main-page-container">
            <img id="main-page" src="../images/logo/mainpage.svg" />
          </div>
          <a href="#home">
            <span>首页</span>
          </a>
          <a href="#solution">
            <span>解决方案</span>
          </a>
          <a href="#jobs">
            <span>热门职位</span>
          </a>
          <a href="#business">
            <span>行业洞察</span>
          </a>
          <a href="#education">
            <span>留学生在线教育平台</span>
          </a>
          <a href="#news">
            <span>新闻动态</span>
          </a>
          <a href="#about-us">
            <span>关于我们</span>
          </a>
        </div>
        <div class="nav-addition">
          <a id="wechat" href="#wechat">
            <img src="../images/icon/微信icon.svg" />
          </a>
          <a id="linkedin" href="#linkedin">
            <img src="../images/icon/领英icon.svg" />
          </a>
        </div>
      </div>
      <ul class="message-board">
        <li class="message-board-item">
          <a>
            <img src="../images/message board/phone.svg" />
          </a>
        </li>
        <li class="message-board-item">
          <a>
            <img src="../images/message board/message.svg" />
          </a>
        </li>
        <li class="message-board-item">
          <a>
            <img src="../images/message board/top.svg" />
          </a>
        </li>
      </ul>
      <div class="top-board">
        <div class="top-board-content">
          <div class="top-board-items">
            英特利普集团<br />
            全球综合人才解决方案供应商
          </div>
          <div class="top-board-items">
            IntelliPro Group Inc.<br />
            Global Integrated Talent Solution Provider
          </div>
          <div class="top-board-items">
            <a href="#contact">
              <div>
                <span>联系我们</span>
              </div>
              <img src="../images/箭头.svg" />
            </a>
          </div>
        </div>
      </div>
      <div class="main-content-1">
        <div class="main-content-1-items">
          北美最大以及服务最完善的双语综合人力资源服务公司
        </div>
        <div class="main-content-1-items">
          <a href="#learn-more">
            <div>
              <span>了解更多</span>
            </div>
            <img src="../images/箭头.svg" />
          </a>
        </div>
      </div>
      <div class="line-1"></div>
    </div>
  </body>
</html>
