<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>ipg</title>
  </head>
  <body>
    <div id="root">
      <div class="navigation">
        <div class="nav-links">
          <div class="main-page-container">
            <img id="main-page" src="../images/logo/mainpage.svg" />
          </div>
          <a href="#home">
            <span>首页</span>
          </a>
          <a href="#solution">
            <span>解决方案</span>
          </a>
          <a href="#jobs">
            <span>热门职位</span>
          </a>
          <a href="#business">
            <span>行业洞察</span>
          </a>
          <a href="#education">
            <span>留学生在线教育平台</span>
          </a>
          <a href="#news">
            <span>新闻动态</span>
          </a>
          <a href="#about-us">
            <span>关于我们</span>
          </a>
        </div>
        <div class="nav-addition">
          <a id="wechat" href="#wechat">
            <img src="../images/icon/微信icon.svg" />
          </a>
          <a id="linkedin" href="#linkedin">
            <img src="../images/icon/领英icon.svg" />
          </a>
        </div>
      </div>
      <ul class="message-board">
        <li class="message-board-item">
          <a>
            <img src="../images/message board/phone.svg" />
          </a>
        </li>
        <li class="message-board-item">
          <a>
            <img src="../images/message board/message.svg" />
          </a>
        </li>
        <li class="message-board-item">
          <a>
            <img src="../images/message board/top.svg" />
          </a>
        </li>
      </ul>
      <div class="top-board">
        <div class="top-board-content">
          <div class="top-board-items">
            英特利普集团<br />
            全球综合人才解决方案供应商
          </div>
          <div class="top-board-items">
            IntelliPro Group Inc.<br />
            Global Integrated Talent Solution Provider
          </div>
          <div class="top-board-items">
            <a href="#contact">
              <div>
                <span>联系我们</span>
              </div>
              <img src="../images/icon/箭头.svg" />
            </a>
          </div>
        </div>
      </div>
      <div class="main-content-1">
        <div class="main-content-1-items">
          北美最大以及服务最完善的双语综合人力资源服务公司
        </div>
        <div class="main-content-1-items">
          <a href="#learn-more">
            <div>
              <span>了解更多</span>
            </div>
            <img src="../images/icon/箭头.svg" />
          </a>
        </div>
      </div>
      <div class="line-1"></div>
      <div class="main-content-2">
        <div class="main-content-2-items">
          <div>
            <span>2009</span>
          </div>
          <div>
            <span>
              成立于美国硅谷
            </span>
          </div>
        </div>
        <div class="main-content-2-items">
          <div>
            <span>20+</span>
          </div>
          <div>
            <span>
              分支机构
            </span>
          </div>
        </div>
        <div class="main-content-2-items">
          <div>
            <span>100+</span>
          </div>
          <div>
            <span>
              资深顾问
            </span>
          </div>
        </div>
        <div class="main-content-2-items">
          <div>
            <span>1,000+</span>
          </div>
          <div>
            <span>
              客户
            </span>
          </div>
        </div>
      </div>
      <div class="about-us-image">
        <img src="../images/background/背景图-关于我们.png" />
      </div>
      <div class="about-us">
        <div>
          <span>关于我们</span>
        </div>
        <div>
          <p>
            英特利普集团创立于2009年，总部位于美国硅谷，是一家以科技数据驱动的顶尖人才生态管理咨
            询及人力资源解决方案供应商。
          </p>
          <p>
            集团致力于打造全球高端人才生态平台，通过结合硅谷以及世界顶尖人才的智慧与经验，在全球化
            时代下，为企业赋予增长动力，提供发展战略管理咨询以及全球人力资源服务。
          </p>
        </div>
        <div>
          <a href="#learn-more">
            <div>
              <span>了解更多</span>
            </div>
            <img src="../images/icon/箭头.svg" />
          </a>
        </div>
      </div>
      <div class="search-section">
        <div class="search-section-item-1">
          <form>
            <input type="text" placeholder="搜索职位名称、工作地点" />
            <button type="submit">
              <img src="../images/icon/搜索.svg" />
            </button>
          </form>
        </div>
        <div class="search-section-item-2">
          <div>
            <div>
              <span>热门职位</span>
            </div>
            <div class="jobs">
              <div>
                <span>财务总监</span>
              </div>
              <div>
                <span>财务副总监</span>
              </div>
              <div>
                <span>EHS Manager</span>
              </div>
              <div>
                <span>医疗健康服务负责人</span>
              </div>
              <div>
                <span>海外业务总经理</span>
              </div>
              <div>
                <span>高级解决方案工程师</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-title">
        <span>解决方案</span>
      </div>
      <div class="solution-section">
        <div class="turn-page prev">
          <a href="#prev">
            <img src="../images/icon/滑动左.svg" />
          </a>
        </div>
        <div class="solution-section-image">
          <a href="#灵活用工">
            <img src="../images/background/背景-灵活用工.png" />
            <div class="solution-section-image-bottom">
              <img src="../images//icon/灵活用工.svg" />
              <span>灵活用工</span>
            </div>
          </a>
        </div>
        <div class="solution-section-image">
          <a href="#人才寻访">
            <img src="../images/background/背景-高端人才寻访.png" />
            <div class="solution-section-image-bottom">
              <img src="../images/icon/高端人才寻访.svg" />
              <span>高端人才寻访</span>
            </div>
          </a>
        </div>
        <div class="solution-section-image">
          <a href="#招聘外包">
            <img src="../images/background/背景招聘流程外包.png" />
            <div class="solution-section-image-bottom">
              <img src="../images/icon/招聘流程外包.svg" />
              <span>招聘流程外包</span>
            </div>
          </a>
        </div>
        <div class="turn-page next">
          <a href="#next">
            <img src="../images/icon/滑动右.svg" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
