<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="../css/overseas.css" />
    <script type="text/javascript" src="../js/overseas.js" defer></script>
    <title>海外校招</title>
  </head>
  <body>
    <div id="root">
      <div id="navigation">
        <div class="nav-links">
          <div class="main-page-container">
            <img id="main-page" src="../images/logo/subpage.svg" />
          </div>
          <a id="nav-links-home" href="#home">
            <span>首页</span>
          </a>
          <a id="nav-links-solution" href="#solution">
            <span>解决方案</span>
          </a>
          <a id="nav-links-jobs" href="#jobs">
            <span>热门职位</span>
          </a>
          <a id="nav-links-business" href="#business">
            <span>行业洞察</span>
          </a>
          <a id="nav-links-education" href="#education">
            <span>留学生在线教育平台</span>
          </a>
          <a id="nav-links-news" href="#news">
            <span>新闻动态</span>
          </a>
          <a id="nav-links-about-us" href="#about-us">
            <span>关于我们</span>
          </a>
        </div>
        <div class="nav-addition">
          <a id="wechat" href="#wechat">
            <img src="../images/icon/weixin.svg" />
          </a>
          <a id="linkedin" href="#linkedin">
            <img src="../images/icon/LINKEDIN.svg" />
          </a>
        </div>
      </div>
      <div id="business">
        <div>
          <div>
            <span>业务洽谈，请留下您的信息，我们会尽快联系您！</span>
          </div>
          <button id="close-business-section">
            <img src="../images/icon/x.svg" />
          </button>
        </div>
        <form>
          <div>
            <input type="text" placeholder="姓名" />
            <input type="text" placeholder="职称" />
            <input type="text" placeholder="电话" />
            <input type="text" placeholder="公司名称" />
            <input type="text" placeholder="邮件" />
            <input type="text" placeholder="咨询服务项" />
          </div>
          <button>提交</button>
        </form>
      </div>
      <div id="top-board">
        <div class="top-board-content">
          <div id="top-board-item-1">
            <span>全球领先海外华人留学生校园招聘品牌</span>
          </div>
          <div id="top-board-item-2">
            <span>美国本土唯一一家开设海外校招业务企业</span>
            <span>精心打造TOP50计算机院校校招专场，博士及综合招聘专场</span>
          </div>
        </div>
      </div>
      <div id="main-content">
        <div>
          <span class="main-content-colored">美国本土团队</span>
        </div>
        <div>
          <span class="main-content-colored">8+</span>
          <span class="main-content-black"
            >年美国招聘宣传会、Summit峰会，招聘会等活动组织策划经验</span
          >
        </div>
        <div>
          <span class="main-content-colored">6+</span>
          <span class="main-content-black"
            >年国内企业海外全球校招社招组织策划经验</span
          >
        </div>
      </div>
      <div id="intro-image">
        <img src="../images/background/简介.png" />
      </div>
      <div id="intro">
        <div>
          <span>海外校园招聘简介</span>
        </div>
        <div>
          <p>
            英特利普集团直击企业海外校招痛点，帮助公司建立品牌海外知名度，打开海外招聘市场。充分利用多年、互联网公
            司、金融行业、500强的丰富人脉与工作经验，打破海外校园与国内名企的鸿沟，塑造企业形象，帮助外学子充分了解
            行业与企业信息，度身规划职业起步之路。同时，通过“海搜科技”智能招聘平台及其超过3亿数据库，我们可以高效统
            筹学生资源，便于深度追踪市场动态。
          </p>
          <p>
            发展至今，英特利普校招已在海外举办200余场大型校园招聘活动，平均每场到场候选人达到400人，成为全球最大规
            模的海外华人校园招聘会项目。
          </p>
          <p>
            集团已在美国、英国、新加坡、澳大利亚、德国、日本等26个国家100多个城市，联合500多家大学举办过此类活动，
            平均每年全球覆盖800万人次，打造出首个也是最大的海外华人留学生校园招聘品牌。
          </p>
        </div>
      </div>
      <div id="intro-content">
        <div>
          <span class="intro-content-black">2019秋招共举办</span>
          <span class="intro-content-colored">32</span>
          <span class="intro-content-black"
            >场TOP50美国高校宣讲会和博士见面会，</span
          >
          <span class="intro-content-colored">25</span>
          <span class="intro-content-black">场Career fair北美招聘会</span>
        </div>
        <div>
          <span class="intro-content-black">宣讲会到场人数</span>
          <span class="intro-content-colored">100%+</span>
          <span class="intro-content-black">，到场人员专业匹配度</span>
          <span class="intro-content-colored">90%+</span>
        </div>
        <div>
          <span class="intro-content-black"
            >校招邀约团队与执行团队完美配合，客户满意度</span
          >
          <span class="intro-content-colored">100%</span>
        </div>
      </div>
      <div id="operation-title">
        <span>主要运营数字</span>
      </div>
      <div id="operation-content">
        <div class="operation-item">
          <div>
            <span>1,200,000</span>
          </div>
          <div>
            <span>全球有效留学生简历</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>200+</span>
          </div>
          <div>
            <span>合作企业数量</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>5000+</span>
          </div>
          <div>
            <span>全球高校覆盖</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>26+</span>
          </div>
          <div>
            <span>覆盖国家</span>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div id="core-title">
        <span>核心竞争力</span>
      </div>
      <div id="core-content">
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力1.svg" />
          </div>
          <div class="core-item-bottom">
            <span>系统化校招管理</span>
          </div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力2.svg" />
          </div>
          <div class="core-item-bottom">
            <span>靶向摸底&人才</span>
            <span>Mapping服务</span>
          </div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力3.svg" />
          </div>
          <div class="core-item-bottom">
            <span>一站式校招管理</span>
            <span>宣传</span>
          </div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力4.svg" />
          </div>
          <div class="core-item-bottom">
            <span>“海搜科技” 智能招</span>
            <span>聘平台</span>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div id="customer-title">
        <span>校园招聘主要覆盖C端人群</span>
      </div>
      <div id="customer-content">
        <div class="customer-item">
          <div>
            <img src="../images/background/校园招聘主要覆盖C端人群 1.png" />
          </div>
          <div class="customer-subtitle">
            <span>01 全球校招应届生</span>
          </div>
          <ul>
            <li>名校生</li>
            <li>管培生</li>
            <li>中国留学生</li>
            <li>海外本土学生</li>
            <li>国际留学生</li>
          </ul>
        </div>
        <div class="customer-item">
          <div>
            <img src="../images/background/校园招聘主要覆盖C端人群2.png" />
          </div>
          <div class="customer-subtitle">
            <span>02 全球社招高端人才</span>
          </div>
          <ul>
            <li>硅谷IT大牛</li>
            <li>华尔街金融管理人才</li>
            <li>多年海外500强企业高管经验</li>
            <li>德、美、日、韩高级汽车人才</li>
          </ul>
        </div>
        <div class="customer-item">
          <div>
            <img src="../images/background/校园招聘主要覆盖C端人群3.png" />
          </div>
          <div class="customer-subtitle">
            <span>03 海外派遣人才</span>
          </div>
          <ul>
            <li>海外派遣业务精英</li>
            <li>海外驻地联络和管理人才</li>
          </ul>
        </div>
        <div class="customer-item">
          <div>
            <img src="../images/background/校园招聘主要覆盖C端人群4.png" />
          </div>
          <div class="customer-subtitle">
            <span>04 特殊行业人才</span>
          </div>
          <ul>
            <li>珠宝设计加工专家</li>
            <li>高级酒店管理人才</li>
            <li>医药研究专家</li>
            <li>天文气象研究人才</li>
          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div id="recruit-title">
        <span>校园招聘合作渠道</span>
      </div>
      <div id="cooperation-title">
        <span>众多合作渠道</span>
      </div>
      <div id="cooperation-content">
        <div>
          <img src="../images/background/校园招聘合作渠道.png" />
        </div>
        <p>
          全球265+所大学渠道； 覆盖26个国家和100+地区：印度、日
          本、韩国、马来西亚、新加坡等国海外人力资源合作机构及平台
          60+家；覆盖人群超过1.6亿
        </p>
      </div>
      <div id="major-title">
        <span>目标国家优势专业</span>
      </div>
      <div id="major-content">
        <div class="major-row">
          <div id="major-usa" class="major-item">
            <p>美国</p>
            <p>
              IT 汽车工程<br />
              设计 生物化工 光学<br />
              MBA<br />
            </p>
          </div>
          <div id="major-australia" class="major-item">
            <p>澳大利亚</p>
            <p>
              商学 会计学
            </p>
          </div>
          <div id="major-germany" class="major-item">
            <p>德国</p>
            <p>
              机械制造 汽车工程
            </p>
          </div>
          <div id="major-britain" class="major-item">
            <p>英国</p>
            <p>
              金融会计 商科
            </p>
          </div>
          <div id="major-france" class="major-item">
            <p>法国</p>
            <p>
              时装设计 室内设计
            </p>
          </div>
        </div>
        <div class="major-row">
          <div id="major-italy" class="major-item">
            <p>意大利</p>
            <p>
              机械制造 艺术设计 建筑
            </p>
          </div>
          <div id="major-spain" class="major-item">
            <p>西班牙</p>
            <p>
              旅游管理 酒店管理
            </p>
          </div>
          <div id="major-korea" class="major-item">
            <p>韩国</p>
            <p>
              机械制造 汽车工程 传媒
            </p>
          </div>
          <div id="major-japan" class="major-item">
            <p>日本</p>
            <p>
              机械制造 电子工程 动漫
            </p>
          </div>
          <div id="major-switzerland" class="major-item">
            <p>瑞士</p>
            <p>
              酒店管理
            </p>
          </div>
        </div>
        <div class="major-row">
          <div id="major-russia" class="major-item">
            <p>俄罗斯</p>
            <p>
              外贸
            </p>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div id="product-title">
        <span>主要产品和服务一览</span>
      </div>
      <p id="channel-title">以下渠道，将为您实现雇主品牌的全球曝光</p>
      <div id="channel-content">
        <div class="channel-item">
          <div class="channel-subtitle">
            <span>战略推广：长期雇主品牌曝光</span>
          </div>
          <div id="channel-longterm-content">
            <p>企业海外社交媒体内容搭建</p>
            <div id="channel-longterm-item">
              <div>
                <div>
                  <img src="../images/logo/媒体1.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体2.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体3.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体4.png" />
                </div>
              </div>
              <div>
                <div>
                  <img src="../images/logo/媒体5.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体6.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体7.png" />
                </div>
                <div>
                  <img src="../images/logo/媒体8.png" />
                </div>
              </div>
            </div>
          </div>
          <div id="channel-line"></div>
          <div id="channel-realtime-content">
            <p>企业海外媒体关系搭建</p>
            <div class="channel-realtime-item">
              <div>
                <img src="../images/logo/媒体9.png" />
              </div>
              <div>
                <img src="../images/logo/媒体10.png" />
              </div>
              <div>
                <img src="../images/logo/媒体11.png" />
              </div>
            </div>
            <div class="channel-realtime-item">
              <div>
                <img src="../images/logo/媒体12.png" />
              </div>
              <div>
                <img src="../images/logo/媒体13.png" />
              </div>
              <div>
                <img src="../images/logo/媒体14.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="channel-item">
          <div class="channel-subtitle">
            <span>战术推广：实时雇主品牌曝光</span>
          </div>
          <p>
            HiTalent平台专属招聘页面<br />
            目标学校学联公众号全面覆盖<br />
            海外校园招聘落地项目<br />
            全球在线空中宣讲会<br />
            IntelliPro官方LinkedIn+微信公众号<br />
            SVLC发展论坛<br />
          </p>
        </div>
      </div>
      <p id="solution-title">以下方式，将助您顺利招募到全球海外人才</p>
      <div id="solution-content">
        <img src="../images/background/招聘方式.png" />
      </div>
      <div class="line"></div>
      <div id="ground-title">
        <span>海外落地招聘项目</span>
      </div>
      <div id="ground-content">
        <div>
          <img src="../images/background/海外落地1.png" />
        </div>
        <div id="ground-item">
          <div>
            <p class="ground-item-subtitle">锁定目标校园及对应专业学生</p>
            <p class="ground-item-subcontent">
              为企业定制海外地区专场招聘会，让企业近距离接触海外校园及匹配学<br />
              生，第一时间获得最佳人选。
            </p>
          </div>
          <div>
            <p class="ground-item-subtitle">扩大企业海外影响力</p>
            <p class="ground-item-subcontent">
              IntelliPro校招自有完整的一套海外校园渠道，学联公众号，学生微信群，<br />
              Career Center老师积极进行宣传推广，扩大企业在海
              外人才及目标地区<br />
              的影响力。
            </p>
          </div>
          <div>
            <p class="ground-item-subtitle">项目执行流程</p>
            <p class="ground-item-subcontent">
              1、制定缜密策划案<br />
              2、设计创造性精准宣传文案，线上/线下同时宣传<br />
              3、针对海外人才定制化专场活动<br />
              4、活动期间专业项目经理负责控场保证活动质量<br />
              5、衣食住行等方面全方位周全考虑<br />
            </p>
          </div>
        </div>
      </div>
      <div id="air-title">
        <span>海外空中宣讲项目</span>
      </div>
      <div id="air-content">
        <p>
          我们增加了线上宣讲板块，让企业雇主品牌曝光的人才招募方式达到更好的<br />
          效果。每场空中宣讲会在线学生近千人。收到对标人群简历超过2000封。
        </p>
        <div>
          <img src="../images/background/空中宣讲.png" />
          <p>线上宣讲会现场</p>
        </div>
      </div>
      <div class="line"></div>
      <div id="service-title">
        <span>海外校园猎头服务</span>
      </div>
      <div id="service-content-1">
        <div id="service-mapping" class="service-item-1">
          <p class="service-subtitle-1">01</p>
          <p class="service-subcontent-1">定点Mapping校园人才</p>
        </div>
        <div id="service-interview" class="service-item-1">
          <p class="service-subtitle-1">02</p>
          <p class="service-subcontent-1">专业面试协助</p>
        </div>
        <div id="service-background" class="service-item-1">
          <p class="service-subtitle-1">03</p>
          <p class="service-subcontent-1">背景调查</p>
        </div>
        <div id="service-duty" class="service-item-1">
          <p class="service-subtitle-1">04</p>
          <p class="service-subcontent-1">上岗保证</p>
        </div>
      </div>
      <div id="service-content-2">
        <div class="service-item-2">
          <div>
            <img src="../images/icon/校园猎头1.svg" />
          </div>
          <div>
            <p class="service-subtitle-2">
              01. 快速灵活 执行周期短
            </p>
            <p class="service-subcontent-2">
              持续一个月线上简历收集。职位上线2-4周后，同步进行人工线下简历挖掘。
            </p>
          </div>
        </div>
        <div class="service-item-2">
          <div>
            <img src="../images/icon/校园猎头2.svg" />
          </div>
          <div>
            <p class="service-subtitle-2">
              02. 专属团队 量身定制
            </p>
            <p class="service-subcontent-2">
              职位访谈，建立硬性标准筛选。
            </p>
          </div>
        </div>
        <div class="service-item-2">
          <div>
            <img src="../images/icon/校园猎头3.svg" />
          </div>
          <div>
            <p class="service-subtitle-2">
              03. 严控流程 效果保证
            </p>
            <p class="service-subcontent-2">
              专业招聘顾问2轮电话沟通面试，定向摸底核实简历信息，确认岗位匹配制度。
            </p>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div id="client-title">
        <span>部分服务客户</span>
      </div>
      <table id="client-content">
        <tbody>
          <tr>
            <td>
              <img src="../images/logo/服务客户1.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户2.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户3.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户4.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户5.png" />
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/logo/服务客户6.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户7.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户8.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户9.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户10.png" />
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/logo/服务客户11.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户12.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户13.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户14.png" />
            </td>
            <td>
              <img src="../images/logo/服务客户15.png" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="footer">
        <div class="footer-section">
          <div class="footer-logo">
            <img src="../images/logo/mainpage.png" />
          </div>
          <div class="footer-line"></div>
          <div class="footer-content">
            <div class="footer-follow">
              <div class="footer-follow-title">
                <span>关注我们</span>
              </div>
              <div class="footer-follow-row">
                <div class="footer-follow-item">
                  <a href="#footer-wechat">
                    <img src="../images/icon/微信icon.svg" />
                  </a>
                </div>
                <div class="footer-follow-item">
                  <a href="#footer-weibo">
                    <img src="../images/icon/微博icon.svg" />
                  </a>
                </div>
              </div>
              <div class="footer-follow-row">
                <div class="footer-follow-item">
                  <a href="#footer-linkedin">
                    <img src="../images/icon/领英icon.svg" />
                  </a>
                </div>
                <div class="footer-follow-item">
                  <a href="#footer-facebook">
                    <img src="../images/icon/facebookicon.svg" />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-solution">
              <div class="footer-solution-title">
                <span>解决方案</span>
              </div>
              <div class="footer-solution-content">
                <div>
                  <span>灵活用工</span>
                </div>
                <div>
                  <span>高端人才寻访</span>
                </div>
                <div>
                  <span>招聘流程外包</span>
                </div>
                <div>
                  <span>海外校招</span>
                </div>
                <div>
                  <span>出海解决方案</span>
                </div>
                <div>
                  <span>管理咨询</span>
                </div>
              </div>
            </div>
            <div class="footer-observe">
              <div class="footer-observe-title">
                <span>行业洞察</span>
              </div>
              <div class="footer-observe-content">
                <div>
                  <span>调研报告</span>
                </div>
                <div>
                  <span>白皮书</span>
                </div>
                <div>
                  <span>IntelliPro观点</span>
                </div>
                <div>
                  <span>SVLC 美国硅谷领导力社区</span>
                </div>
              </div>
            </div>
            <div class="footer-news">
              <div class="footer-news-title">
                <span>新闻动态</span>
              </div>
              <div class="footer-news-content">
                <div>
                  <span>活动中心</span>
                </div>
                <div>
                  <span>行业资讯</span>
                </div>
              </div>
            </div>
            <div class="footer-about">
              <div class="footer-about-title">
                <span>关于我们</span>
              </div>
              <div class="footer-about-content">
                <div>
                  <span>公司简介</span>
                </div>
                <div>
                  <span>加入我们</span>
                </div>
                <div>
                  <span>联系我们</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
