<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="../css/overseas.css" />
    <script type="text/javascript" src="../js/overseas.js" defer></script>
    <title>海外校招</title>
  </head>
  <body>
    <div id="root">
      <div id="navigation">
        <div class="nav-links">
          <div class="main-page-container">
            <img id="main-page" src="../images/logo/subpage.svg" />
          </div>
          <a href="#home">
            <span>首页</span>
          </a>
          <a href="#solution">
            <span>解决方案</span>
          </a>
          <a href="#jobs">
            <span>热门职位</span>
          </a>
          <a href="#business">
            <span>行业洞察</span>
          </a>
          <a href="#education">
            <span>留学生在线教育平台</span>
          </a>
          <a href="#news">
            <span>新闻动态</span>
          </a>
          <a href="#about-us">
            <span>关于我们</span>
          </a>
        </div>
        <div class="nav-addition">
          <a id="wechat" href="#wechat">
            <img src="../images/icon/weixin.svg" />
          </a>
          <a id="linkedin" href="#linkedin">
            <img src="../images/icon/LINKEDIN.svg" />
          </a>
        </div>
      </div>
      <div id="business">
        <div>
          <div>
            <span>业务洽谈，请留下您的信息，我们会尽快联系您！</span>
          </div>
          <button id="close-business-section">
            <img src="../images/icon/x.svg" />
          </button>
        </div>
        <form>
          <div>
            <input type="text" placeholder="姓名" />
            <input type="text" placeholder="职称" />
            <input type="text" placeholder="电话" />
            <input type="text" placeholder="公司名称" />
            <input type="text" placeholder="邮件" />
            <input type="text" placeholder="咨询服务项" />
          </div>
          <button>提交</button>
        </form>
      </div>
      <div id="top-board">
        <div class="top-board-content">
          <div id="top-board-item-1">
            <span>全球领先海外华人留学生校园招聘品牌</span>
          </div>
          <div id="top-board-item-2">
            <span>美国本土唯一一家开设海外校招业务企业</span>
            <span>精心打造TOP50计算机院校校招专场，博士及综合招聘专场</span>
          </div>
        </div>
      </div>
      <div id="main-content">
        <div>
          <span class="main-content-colored">美国本土团队</span>
        </div>
        <div>
          <span class="main-content-colored">8+</span>
          <span class="main-content-black"
            >年美国招聘宣传会、Summit峰会，招聘会等活动组织策划经验</span
          >
        </div>
        <div>
          <span class="main-content-colored">6+</span>
          <span class="main-content-black"
            >年国内企业海外全球校招社招组织策划经验</span
          >
        </div>
      </div>
      <div id="intro-image">
        <img src="../images/background/简介.png" />
      </div>
      <div id="intro">
        <div>
          <span>海外校园招聘简介</span>
        </div>
        <div>
          <p>
            英特利普集团直击企业海外校招痛点，帮助公司建立品牌海外知名度，打开海外招聘市场。充分利用多年、互联网公
            司、金融行业、500强的丰富人脉与工作经验，打破海外校园与国内名企的鸿沟，塑造企业形象，帮助外学子充分了解行
            业与企业信息，度身规划职业起步之路。同时，通过“海搜科技”智能招聘平台及其超过3亿数据库，我们可以高效统筹
            学生资源，便于深度追踪市场动态。
          </p>
          <p>
            发展至今，英特利普校招已在海外举办200余场大型校园招聘活动，平均每场到场候选人达到400人，成为全球最大规模
            的海外华人校园招聘会项目。
          </p>
          <p>
            集团已在美国、英国、新加坡、澳大利亚、德国、日本等26个国家100多个城市，联合500多家大学举办过此类活动，平
            均每年全球覆盖800万人次，打造出首个也是最大的海外华人留学生校园招聘品牌。
          </p>
        </div>
      </div>
      <div id="intro-content">
        <div>
          <span class="intro-content-black">2019秋招共举办</span>
          <span class="intro-content-colored">32</span>
          <span class="intro-content-black"
            >场TOP50美国高校宣讲会和博士见面会，</span
          >
          <span class="intro-content-colored">25</span>
          <span class="intro-content-black">场Career fair北美招聘会</span>
        </div>
        <div>
          <span class="intro-content-black">宣讲会到场人数</span>
          <span class="intro-content-colored">100%+</span>
          <span class="intro-content-black">，到场人员专业匹配度</span>
          <span class="intro-content-colored">90%+</span>
        </div>
        <div>
          <span class="intro-content-black"
            >校招邀约团队与执行团队完美配合，客户满意度</span
          >
          <span class="intro-content-colored">100%</span>
        </div>
      </div>
      <div id="operation-title">
        <span>主要运营数字</span>
      </div>
      <div id="operation-content">
        <div class="operation-item">
          <div>
            <span>1,200,000</span>
          </div>
          <div>
            <span>全球有效留学生简历</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>200+</span>
          </div>
          <div>
            <span>合作企业数量</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>5000+</span>
          </div>
          <div>
            <span>全球高校覆盖</span>
          </div>
        </div>
        <div class="operation-item">
          <div>
            <span>26+</span>
          </div>
          <div>
            <span>覆盖国家</span>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div id="core-title">
        <span>核心竞争力</span>
      </div>
      <div id="core-content">
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力1.svg" />
          </div>
          <div class="core-item-bottom"></div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力2.svg" />
          </div>
          <div class="core-item-bottom"></div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力3.svg" />
          </div>
          <div class="core-item-bottom"></div>
        </div>
        <div class="core-item">
          <div class="core-item-top">
            <img src="../images/icon/核心竞争力4.svg" />
          </div>
          <div class="core-item-bottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
